@import url('https://fonts.googleapis.com/css?family=Khula:400,800');
@import "./jquery.fullpage.css";
@import "./slick.min.css";

$carbon: #4F535F;
$white: #fff;
$tqblue: #57afad;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Khula', sans-serif;
}

.pageloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageloader svg {
    width: 200px;
    height: auto;
}

svg {
    transition: all .3s ease;
}

.section {
    padding: 0% 0% 0 10%;
    position: relative;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #5dafad;
}

header {
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 9;
    width: 60%;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.social {
    position: fixed;
    bottom: 50px;
    left: 10%;
    z-index: 999;
}

.links {
    margin-left: 10%;
}

nav .links ul,
.social ul {
    list-style: none;
    padding-left: 0;
}

nav .links ul li,
.social ul li {
    display: inline-block;
    margin: 0px 10px;
}

nav .links ul li a {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;
    z-index: 2;
}

nav .links ul li a {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;
    z-index: 2;
}

nav .links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.2s ease;
}

nav .links ul li a:hover,
nav .links ul li a.active {
    color: #ea0000;
}

nav .links ul li a:hover::after,
nav .links ul li a.active::after {
    width: 50%;
}

.links.white ul li a {
    color: $white;
}

.links.white ul li a::after {
    background-color: #fff;
}

.brand {
    display: flex;
    align-items: flex-start;
}

.brand p {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.brand p.white {
    color: #fff;
}

.section.l1 .caption {
    font-size: 4.5em;
    font-weight: 800;
    line-height: 60px;
    max-width: 83%;
    /* color: #4F535F; */
    margin-top: 50px;
}

.section.l1 .subcaption {
    font-size: 2.5em;
    font-weight: 800;
    color: #4f535f;
    margin-top: 30px;
}

.section.l1 .subcaption span {
    color: rgba(234, 0, 0, 1);
}

.section.l2 p:first-child {
    max-width: 40%;
    font-size: 2.5em;
    line-height: 42px;
    color: #4f535f;
    font-weight: 800;
}

.section.l2 p:first-child span {
    color: #ea0000;
}

.section.l2 p:nth-of-type(2) {
    max-width: 40%;
    font-size: 1em;
    line-height: 35px;
    margin: 20px 0px 0 0;
    color: #4f535f;
}

.section.l2 p:last-child {
    max-width: 40%;
    font-size: 1em;
    line-height: 20px;
    font-weight: 400;
    color: #4f535f;
}

.videography {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    transform: translateX(100%);
}

.videography video {
    height: 100vh;
}

.mask {
    position: relative;
}

.mask-above {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mask-above h2 {
    font-size: 348px;
    word-wrap: break-word;
    text-transform: uppercase;
    line-height: 288px;
    margin-top: 50px;
    max-width: 100%;
}

.blend-lighten {
    mix-blend-mode: lighten;
}

.section.l3 p {
    color: #fff;
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
}

a.l-btn, button.l-btn {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ea0000;
    border-radius: 22px;
    color: #fff;
    margin-right: 20px;
    font-weight: 800;
    position: relative;
    cursor: pointer;
}

a.l-btn.theme-black, button.l-btn.theme-black  {
    color: #000;
}

.transition {
    transition: all 0.4s ease;
}

a.l-btn::after, button.l-btn::after {
    content: '→';
    display: inline-block;
    margin-left: 10px;
    transition: all 0.4s ease;
    color: #fff;
}

a.l-btn.theme-black::after, button.l-btn.theme-black::after {
    color: #000;
}

a.l-btn:hover, button.l-btn:hover {
    background: #fff;
    color: #ea0000;
    border-color: #fff;
}

a.l-btn.theme-black:hover, button.l-btn.theme-black:hover  {
    background: #000;
    color: #fff;
    border-color: #000;
}

a.l-btn:hover::after, button.l-btn:hover::after {
    color: #ea0000;
    transform: translateX(5px);
}

a.l-btn:hover.theme-black::after, button.l-btn:hover.theme-black::after  {
    color: #fff;
}

.reviews {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 30vw;
    background: #fff;
    top: 0;
}

#particle-js .reviews {
    padding: 10px 30px;
}

#particle-js .reviews .item h2 {
    font-size: 4em;
    color: #000;
    text-transform: uppercase;
    line-height: 57px;
    margin: 10px 0px 20px;
    text-align: center;
    word-wrap: break-word;
}

#particle-js .reviews .item p:nth-child(2) {
    font-size: 20px;
    color: #4f535f;
    line-height: 24px;
}

#particle-js .reviews .item p:nth-child(3) {
    color: #ea0000;
    font-size: 16px;
    font-weight: 800;
    margin: 20px 0 -10px 0;
}

#particle-js .reviews .item small {
    color: #4f535f;
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
}

.carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contact {
    display: flex;
}

.address {
    width: 60%;
    text-align: center;
}

.address p:first-child {
    font-size: 2em;
    font-weight: 800;
}

.address .contact_info p {
    font-size: 1em;
}

.address .contact-info a {
    text-decoration: none;
    color: #ea0000;
    transition: all 0.3s ease;
}

.address .contact-info a:hover {
    text-decoration: underline;
}

.address .contact-info img {
    width: 20px;
}

.form {
    width: 20%;
}

.form a.l-btn {
    font-size: 11px;
    padding: 5px 10px;
}

.form input,
.form textarea {
    display: block;
    padding: 11px 10px;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: .8em;
    font-family: 'Khula';
    font-weight: 800;
    width: 100%;
    transition: all 0.2s ease;
}

.form p {
    background: #ea0000;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    border-radius: 0;
}

.form input:focus,
.form input:active,
.form textarea:focus,
.form textarea:active {
    outline: none;
    border-color: #ea0000;
}

address {
    font-style: inherit;
    font-size: 1.2em;
}

.contact_animation {
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100vh;
    z-index: 9;
    padding: 0px;
    background: #000;
}

iframe {
    width: 100%;
    height: 40%;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
}

.feedback {
    padding: 20px 20px;
    background: #000;
    margin-bottom: 20px;
    p{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 18px;
        color: #fff;
    }
    form {
        label {
            display: block;
            text-transform: capitalize;
            font-size: 15px;
            color: #f9f9f9;
            margin-top: 10px;
        }
        input {
            width: 100%;
    padding: 5px 5px 5px 0;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #adadad;
    margin-bottom: 28px;
    color: #fff;
    font-weight: 800;
    font-size: 16px;

            
        }
        input:focus {
            outline: none;
        }
        textarea {
            width: 100%;
        }
    }
}

.info {
    width: 50%;
}

.info a {
    margin-top: 50px;
    display: inline-block;
    margin-left: 20px;
}

.info p {
    
    font-size: 3em;
    max-width: 70%;
    margin-left: 20px;
    line-height: 49px;
    font-weight: 800;
    text-align: left;
}

.info p span {
    color: #ea0000;
}

.legals {
    margin-top: 30px;
}

.legals .linkanchor {
    font-size: 12px;
    display: inline-block;
    margin-top: 0;
    position: relative
}

.legals .linkanchor::before {
    content: "";
    width: 2px;
    height: 80%;
    position: absolute;
    right: -12.5px;
    background: #ea0000;
    display: block;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.legals .linkanchor:last-child::before {
    display: none;
}

.linkanchor {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;
    z-index: 2;
}

.linkanchor::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.2s ease;
}

.linkanchor:hover {
    color: #ea0000;
}

.linkanchor:hover::after {
    width: 50%;
}

svg.l-icon:hover {
    fill: #5dafad;
    transform: scale(1.1);
    cursor: pointer;
}

svg.l-icon {
    fill: #000;
    transition: all .2s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.social.white,
.brand.white {
    svg {
        fill: $white
    }
}

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-inner {
    .logo {
        margin-left: 20px;
    }
    .form-intro {
        background: #000 url(../../assets/formbg.jpg) center;
        min-height: 30vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        p {
            color: #fff;
            font-size: 2em;
            font-weight: 800;
            margin-left: 20px;
            span {
                color: #ea0000;
            }
        }
        svg.l-icon {
            fill: #fff;
        }
        svg.l-icon.float {
            position: fixed;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            fill: #000 !important;
        }
    }
    section {
        max-width: 75%;
        margin: 0 auto;
        background: #fff;
        z-index: 99;
        min-height: 40vh;
        height: 100%;
        margin-top: -60px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 5px -2px 20px 3px rgba(0, 0, 0, .2);
        margin-bottom: 30px;
        form {
            input[aria-invalid="true"] {
                border-color: #ea0000 !important;
            }
            label.error {
                color: #ea0000;
                font-size: 14px;
                text-transform: uppercase;
            }
            .group {
                margin-bottom: 26px;
            }
            .group.action {
                margin-top: 50px;
                margin-left: -20px;
                margin-right: -20px;
                background: #000;
                padding: 30px;
                margin-bottom: 0;
                text-align: right;
                button {
                    border: 0px;
                    font-size: 18px;
                    text-transform: uppercase;
                    background: #fff;
                    font-family: 'Khula', sans-serif;
                    font-weight: 800;
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover {
                        background: #ea0000;
                        color: #fff;
                    }
                }
            }
            padding: 20px;
            padding-bottom:0px;
            label {
                text-transform: uppercase;
                color: #2984cc;
                font-weight: 800;
                font-size: 16px;
            }
            input[type="text"],
            select,
            input[type="email"],
            input[type="url"] {
                display: block;
                width: 100%;
                border: 0;
                border-bottom: 2px solid #000;
                padding: 5px 10px 10px 0px;
                font-size: 14px;
                font-family: 'Khula', sans-serif;
                color: #000;
                font-weight: 800;
                transition: all .3s ease;
                &:focus {
                    outline: none;
                    border-color: #2984cc;
                }
            }
            .boxes {
                display: flex;
                /* justify-content: space-between; */
                max-width: 80%;
                margin: 0px auto;
                flex-wrap: wrap;
            }
            input[type="file"] {
                width: 0px;
                height: 0px;
            }
            span.text-btn, .text-btn {
                padding: 10px 30px 10px 10px;
                background: #000;
                color: #fff;
                cursor: pointer;
                position: relative;
                user-select: none;
                transition: all .3s ease-in-out;
                display: inline-block;
                margin-left: -10px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: #ea0000;
                    width: 0;
                    height: 3px;
                    transition: all .3s ease;
                    z-index: 0;
                }
                &::after {
                    content: "\203A";
                    position: absolute;
                    right: 10px;
                    top: -4px;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                    font-size: 30px;
                    color: #fff;
                }
            }
            span.text-btn:hover::before {
                width: 100%;
            }
            .items {
                width: 30%;
                margin-top: 15px;
                label {
                    display: flex;
                    align-items: center;
                    input[type="checkbox"] {
                        appearance: none;
                        &:checked+span.select-box {
                            background: url(../../assets/svg/checked.svg) no-repeat;
                            border-radius: 1px;
                            background-size: cover;
                        }
                        &:checked~span.text {
                            opacity: 1;
                        }
                    }
                    span.select-box {
                        width: 20px;
                        height: 20px;
                        transition: all .3s ease-in-out;
                        border: 2px solid #43454f;
                    }
                    span.text {
                        padding-top: 5px;
                        user-select: none;
                        margin-left: 10px;
                        cursor: pointer;
                        color: #000;
                        transition: all .3s ease-in-out;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    footer {
        background: #000;
        padding: 10px;
        .footwrap {
            max-width: 75%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            svg.l-icon {
                fill: #fff;
            }
            .footlinks {
                margin-left: 50px;
            }
            .footlinks ul li {
                display: inline-block;
                margin-right: 20px;
            }
            .footlinks ul li a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 800;
            }
            .footcontact {
                color: #fff;
                width: 52%;
                text-align: right;
                text-transform: uppercase;
                font-weight: 800;
                p span {
                    color: #ea0000;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .mask-above h2 {
        font-size: 271px;
        line-height: 239px;
    }
}

@media (max-width: 1365px) {
    .section.l1 .caption {
        font-size: 4.5em;
        line-height: 60px;
    }
}

@media (max-width: 1280px) {
    .section.l1 .caption {
        font-size: 4.5em;
        line-height: 60px;
    }
    .mask-above h2 {
        font-size: 271px;
        line-height: 239px;
    }
    .form {
        width: 30%;
    }
}

@media (max-width: 992px) {
    /* .section.l1 .caption{
      font-size: 7em;    
      line-height: 93px;
  } */
    .mask-above h2 {
        font-size: 222px;
        line-height: 168px;
    }
    .links {
        display: none;
    }
    .section.l1 .subcaption {
        font-size: 2.5em;
    }
    .section.l2 p:first-child {
        max-width: 50%;
        font-size: 2em;
    }
    .section.l3 p {
        font-size: 4em;
    }
    .cta {
        width: 50%;
    }
    .reviews {
        width: 50vw;
    }
    a.l-btn {
        margin-bottom: 20px;
    }
    .contact {
        flex-direction: column;
    }
    .contact .form {
        width: 100%;
    }
    .contact .form p {
        font-size: 1em;
    }
    /* .contact .info {
        display: none;
    }
    .contact_animation {
        display: none;
    } */
    .form input,
    .form textarea {
        padding: 15px 10px;
    }
    .form-inner footer .footwrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-inner footer .footwrap svg.l-icon {
        height: 80px;
        width: 120px;
        margin: 0 auto;
    }
    .form-inner footer .footwrap .footcontact {
        text-align: center;
        margin-top: 20px;
    }
    .form-inner section {
        max-width: 95%
    }
    .info {
        width: 65%;
    }
}

@media (max-width: 767px) {
    
    .brand p {
        margin-left: 20px;
    }
    .section.l1 .caption {
        margin: 150px 0px 0;
    }
    .section.l1 .subcaption {
        color: #fff;
    }
    header {
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: rgba(0, 0, 0, 1);
        transition: all .1s ease;
    }
    header svg.l-icon {
        fill: #fff;
    }
    header.hide {
        top: -13%;
    }
    .section.l1 {
        /* background: url('../assets/mobile-bg.jpg') no-repeat; */
        background-position: 50% 0%;
        background: #000;
    }
    .section.l1 .subcaption span {
        color: #fff;
    }
    .section {
        min-height: 100vh;
    }
    .pageloader {
        display: none;
    }
    .social {
        display: none;
    }
    .section {
        padding: 2% 4%;
    }
    .section.l1 .caption {
        font-size: 4em;
        line-height: 51px;
        max-width: 95%;
        color: #fff;
    }
    .section.l1 .subcaption {
        font-size: 1em;
    }
    .videography {
        display: none;
    }
    .section.l2 p:first-child,
    .section.l2 p:nth-of-type(2),
    .section.l2 p:last-child {
        max-width: 100%;
    }
    .section.l2 p:first-child {
        font-size: 1.5em;
        line-height: 32px;
    }
    .section.l2 p:nth-of-type(2) {
        line-height: 20px;
        margin: 20px 0px 20px 0;
    }
    .section.l3 p {
        font-size: 2em;
    }
    .reviews {
        top: inherit;
        bottom: 0;
        height: auto;
        width: 100%;
    }
    .carousel {
        top: inherit;
        transform: inherit;
    }
    #particle-js .reviews .item h2 {
        font-size: 1em;
        margin: 0;
    }
    #particle-js .reviews .item p:nth-child(2) {
        font-size: 12px;
        line-height: 16px;
    }
    #particle-js .reviews {
        padding: 20px;
    }
    .cta {
        margin-top: -100px;
        margin-left: 3%;
        text-align: center;
    }
    .cta {
        width: 100% !important;
    }
    .contact {
        flex-direction: column;
    }
    .form input {
        width: 100%;
    }
    .form-inner section form .items {
        width: 50%;
    }
    .form-inner section form .boxes {
        max-width: 100%
    }
    .form-inner section form .items label span.text {
        font-size: 12px
    }
    .form-inner .form-intro p {
        display: none;
    }
    .section.l2 p:first-child {
        margin: 100px 0 0;
    }
    .cta {
        margin: 0;
    }
    .section.l3 {
        background: #000;
        padding: 22% 4%;
    }
    .reviews {
        position: relative;
        margin-top: 61px;
        border-radius: 5px;
    }
    a.l-btn {
        margin-top: 10px;
        margin-right: 0;
    }
    .contact {
        flex-direction: column;
    }
    .contact_animation {
        position: relative;
        display: none;
    }
    .info {
        width: 100%;
    }
    .info p {
        max-width: 100%;
        font-size: 2.5em;
        line-height: 40px;
        margin-top: 40px;
    }
    .info p {
        margin-top: 20px;
        width:90% !important;
    }
    .section.l4 {
        min-height: 50vh;
    }
    .brand p {
        color: #fff;
    }
    .info a {
        margin-top: 15px;
    }
    div#particle-js {
        height: auto;
        min-height: unset;
        padding: 21px 4%;
    }
    
    .section {
        min-height: fit-content;
    }
    
    .section.l2 p:first-child {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        margin: 20px 0;
    }
    
    .contact_animation {
        display: block;
        width: 100%;
    }
    
}


a.l-btn.inverse, button.l-btn.inverse {
    border: 2px solid transparent;
    border-radius: 0px;
    color: #fff;
    background: #000;
}

a.l-btn.inverse:hover, button.l-btn.inverse:hover {
    transition: all .3s ease;
    background: white;
    border: 2px solid #000;
    color: #ea0000;
}

.feedback .l-btn.inverse {
    margin-top: 15px;
    background: #ea0000;
}


.section.l2[direction="up"] .mask {
    margin-top: 0px

}

.section.l3[direction="up"] .reviews {
    margin-top: 0px
    
}


h2.divider{
    color: #9a9a9a;
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.form-inner section form .radio {
    position: relative;
}

.form-inner section form .radio label {
    color: #8e8b8b;
}


.form-inner section form .radio label.error {
    position: absolute;
    top: 30px;
    left: 0;
    color: #ea0000;
}


.overlay {
    position: fixed;
    background: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    z-index: 9999;
    display: none;
}

.overlay .popup {
    max-width: 360px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 13px rgba(0,0,0,.2);
}


.overlay .popup .p_header p {
    font-size: 30px;
    font-weight: 800;
}


.overlay .popup .p_content p:first-child {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 15px 0;
}

.overlay .popup .p_content p:nth-of-type(2) {
    font-size: 12px;
    line-height: 20px;
    color: #aaa;
}



a.l-btn.inverse.small, button.l-btn.inverse.small {
    margin-top: 9px;
    font-size: 12px;
}

.overlay .popup .close {
    position: absolute;
    right: 10px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}


.feedback form input[type="radio"] {
    display: inline-block;
    width: auto;
    margin: 0;
}

.feedback .radio label{
    display: inline-block;
    margin: 0;

}

.form-group.message label {
    margin-top: 27px;
}

.form-group.message textarea {
    background: transparent;
    border: 1px solid #adadad;
    padding:  3px 10px;
    color: #fff;
}

.feedback form label{
    margin-left: 2px;
}


.feedback form label.error {color: #ea0000;margin: 0;position: absolute;bottom: -23px;font-size: 14px;text-transform: uppercase;font-weight: 800;}

.form-group {
    position: relative;
}


.overlay.contact {
    background: rgba(0,0,0,.9);
}

.message p {
    padding: 0 30px;
}

.message{
    position: relative;
    top: 50%;
}
.overlay.contact .l-btn {
    transform: translateX(30px);
}

p.note{
    font-size: 12px;
}

.section.l2 p:first-child {
    font-size: 1.3em;
    line-height: 24px;

}

a.inline-link {
    color: #ea0000;
    text-decoration: none;
    transition: all .1s ease;
    border-bottom: 2px solid transparent;
}

a.inline-link:hover {
    color: #000;
    transition: all .3s ease;
    border-bottom: 2px solid #ea0000;
}

.info p.info {
    font-size: 1em;
    line-height: 18px;
    width: 100%;
    margin-bottom: 9px;
    font-weight: 100;
}


.info p:nth-of-type(2){
    margin-top: 15px;
}

.info p.info a {
    margin: 0;
    display: inline-block;
}

.info p.info.note{
    color: #aaa;
    font-weight: 100;
    font-size: 13px;
}


/* New CR Changes */

.form-inner section form input[name="other_category"] {
    display: none;
}

.form-inner section form .group.action{
    text-align: center;
}


.section.l1 .caption,.section.l1 .subcaption,
.brand p,nav .links ul li a,
{
    color: #464646;
}

.section.l1 .subcaption span,
nav .links ul li a.active, nav .links ul li a:hover,
.section.l2 p:first-child span,
.linkanchor:hover,
.info p span {
    color: #5dafad;
}

nav .links ul li a:after {
    background: #464646
}

html,body{
    color: #464646
}

svg.l-icon{
    fill: #464646;
}

.section.l2 p:first-child {
    font-weight: 100;
    font-size: 1.2em
}

.social svg.l-icon {
    fill: #5dafad;
}

.linkanchor {
    color: #464646;
    text-transform: lowercase;
    display: inline-block;
    font-style: italic
}

a.l-btn, button.l-btn {
    border-color: #ccc;
}

a.l-btn:hover, button.l-btn:hover,
a.l-btn:hover:after, button.l-btn:hover:after {
    color: #5dafad
}

nav .links.white ul li a.active{
    color: #464646
}

#particle-js .reviews .item h2 {
    color: #464646;
    font-size: 2.6em;
    text-align: left;
}

#particle-js .reviews .item p:nth-child(2) {
    color: #464646;
    font-weight: 100;
}

#particle-js .reviews .item p:nth-child(3) {
    color: #464646;
}

.info p {
   color: #464646;
   font-weight: 100;
   font-size: 2.4em;
   line-height: 40px;
}

.feedback,.contact_animation{
    background: #5dafad
}

.feedback .l-btn.inverse {
    background: white;
    color: #5dafad
}

.feedback .l-btn.inverse::after{
    color: #5dafad    
}

.feedback .l-btn.inverse:hover{
    color: #5dafad;
    border-color: #464646;
}
.feedback form input,
.form-group.message textarea {
    border-color: #FFF
}

.typography {
    display: flex;
    align-items: center;
}
.section.l2 p:first-child {
    max-width: 80%;
}


.bookposter{
    max-height: 100vh;
    height: 100%;
    transform: translateX(100%);
    width: 30%;
}
/* End of New CR Changes */



/* Hamburger CSS */
.navhover ul {
    all: unset;
    display: none;
    left: 0;
    position: absolute;
    border: 1px solid #5fadad;
    border-radius: 3px;  
    background: #fff;
    transform: translateY(-10px);  
    min-width: 200px;
    box-shadow: 0px 0px 17px 2px rgba(0,0,0,.1)
}
.navhover ul li {
    all: unset;
}
.navhover ul li:not(:last-child) a{
    border-bottom: 1px solid #5fadad;
}
.navhover ul li a {
    all: unset;
    display: block;
    padding: 5px 30px 5px 20px;
    transition: all .3s ease;
    font-size: 15px;
    font-weight: 100;
    color: #5fadad;
    cursor: pointer;
}
.navhover:hover ul {

    display: block;
}
.navhover {
    position: relative;
}

.navhover ul li a:hover {
    background: #5fadad;
    color: #fff;
}  
.navhover:hover svg {
    fill: #5dafad;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
/* End of Hamburger CSS */




/* Inner Page footer */
footer {
    background: #000;
    padding: 10px;
    .footwrap {
        max-width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        svg.l-icon {
            fill: #fff;
        }
        .footlinks {
            margin-left: 50px;
        }
        .footlinks ul li {
            display: inline-block;
            margin-right: 20px;
        }
        .footlinks ul li a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 800;
        }
        .footcontact {
            color: #fff;
            width: 52%;
            text-align: right;
            text-transform: uppercase;
            font-weight: 800;
            p span {
                color: #ea0000;
            }
        }
    }
}
/* End inner page footer */


/* Inner Page Header */
.inner header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;  
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,.2);
}

.inner header nav{
    display: flex;
    justify-content: space-between
}
.inner header nav > div {
    width: 50%;
}

.inner header nav .links ul {
    text-align: right;
}
.inner footer .footwrap{
    max-width: 100%;
    width: 100%;
    padding: 10px;  
}
/* End Inner Page Header */

/* Inner Page -- F.A.Q */
.inner main{    
    max-width: 920px;
    margin: 0 auto;
}
.inner main .heading {
    margin: 10px 0 10px 0;
}

.inner main .heading p:nth-of-type(1){
    font-size: 1.5em;
    color: #464646;
    font-weight: 400;
}
.inner main .heading p:nth-of-type(2){
    font-size: 13px;
    line-height: 14px;
}

.accordian ul{
    padding-left: 0px;
}

.accordian ul li{
    /* all: unset; */
    border: 1px solid #5fadad;
    list-style: none;
    padding: 10px;
}

.accordian ul li .a-title.active::before{
    content: "-";
}

.accordian ul li .a-title::before{
    content: "+";
    position: absolute;
    left: 6px;
    font-size: 1.5em;
    top: 0px;
    color: #5fadad;
    transition: transform .3s ease;
}

.accordian ul li .a-title{
    position: relative;
    padding: 5px 10px 5px 25px;
    border-radius: 2px;
    cursor: pointer;
}

p.a-text {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0px;
    display: none;
}


p.a-text a {
    all: unset;
    cursor: pointer;
    color: #5fadad;
}

.accordian {
    margin: 20px 0px;
}
/* End of F.A.Q */


/* Services Page */
.servicewrapper .item .heading{
    color: #5fadad;
    font-size: 1.2em;
    text-decoration: underline;
}

.servicewrapper .item .subtitle{
    color: #464646;
    line-height: 18px;
    font-size: 15px;
}

.inner .note{
    font-size: 18px;
    line-height: 18px;
    color: #464646;
    margin: 20px 0px 0;
}

.inner .note a{
    all: unset;
    color: #5fadad;
    cursor: pointer;
}

.inner small {
    margin-bottom: 20px;
    display: block; 
}

/* End of Services */


/* About Page */
.aboutwrapper p{
    font-size: 15px;
    margin: 20px 0px;
    line-height: 18px;
}

.aboutwrapper p a {
    all: unset;
    color: #5fadad;
    cursor: pointer;
}
/* End of About Page */


.brand p a {
    all: unset;
    cursor: pointer;
}